
@charset "UTF-8";

 @font-face {
  font-family: 'symbols-nerds';
  src: url('../font/symbols-nerds.eot?27841936');
  src: url('../font/symbols-nerds.eot?27841936#iefix') format('embedded-opentype'),
       url('../font/symbols-nerds.woff?27841936') format('woff'),
       url('../font/symbols-nerds.ttf?27841936') format('truetype'),
       url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'symbols-nerds';
    src: url('../font/symbols-nerds.svg?27841936#symbols-nerds') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "symbols-nerds";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-basket:before { content: '\62'; } /* 'b' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-twitter:before { content: '\74'; } /* 't' */
.icon-vk:before { content: '\76'; } /* 'v' */
.icon-up-dir:before { content: '\25b2'; } /* '▲' */
.icon-down-dir:before { content: '\25bc'; } /* '▼' */
.icon-circle:before { content: '\25cb'; } /* '○' */
.icon-circle-dot:before { content: '\25cf'; } /* '●' */
.icon-check-off:before { content: '\2610'; } /* '☐' */
.icon-check-on:before { content: '\2611'; } /* '☑' */
.icon-instagramm:before { content: '📷'; } /* '\1f4f7' */
 
 /*INDEX-page styles*/

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto' 'Arial' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
}

h1 {
    font-family: 'Roboto' 'Arial' sans-serif;
    font-size: 40px;
    font-weight: 500;
}

h2 {
    font-family: 'Roboto' 'Arial' sans-serif;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
}

h3 {
    font-family: 'Roboto' 'Arial' sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;

}

.btn {
    font-size: 12px;
    font-weight: 300;
    padding: 12px 20px;
    color: #fed9da;
    background-color: #00ca74;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    border-radius: 3px;
}

.btn:active {

    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}


/*header*/

.main-header {
    padding-top: 25px;
    background-color: #eeeeee;
}

.main-header .container {
    position: relative;
}

.container {
    width: 880px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;

}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.header-logo {
    width: 140px;
    float: left;
}

.main-menu {
    width: 560px;
    padding-top: 20px;
    float: right;
}

.main-menu ul {
    display: inline-block;
    width: 400px;
    margin: 0;
    padding: 0;
    font-size: 0px;
}

.main-menu li {
    display: inline-block;
    padding-right: 45px;
}

.main-menu li:last-child{
    padding-right: 0px;
} 

.basket {
    display: inline-block;
    width: 155px;
    text-align: right;
}
.basket i {
    margin-right: 13px;
    padding-left: 15px;
    color:#bdbdbd;
}

.main-menu a {
    font-size: 14px;
    line-height: 30px;
    font-weight:500;
    color: #283136;
    padding-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

 .main-menu a:hover {
     color: #fb565a;
 } 
 .main-menu a:hover i {
     color: #fb565a;
 }
 
 .main-menu a:focus{
     color: #ababab;
 }
 .main-menu a:focus i{
     color:  #d7d7d7;
 }

 
 .main-menu .active a {
     border-bottom: 2px #fb565a solid;
 }


/*slider*/

.slider-block {
    padding-top: 50px;
    background-color: #eeeeee;
}
.slider {
    position: relative;
}

.slide-content {
    min-height: 310px;
    position: relative;
    background-repeat: no-repeat;
    background-position: 100% 10px;
    display: none;

}

.slider input[type='radio'] {
    display: none;
}

.slider-indicator {   
    position: absolute;
    bottom: 95px;
    left:50%;
    width: 60px;
    margin-left: -30px;   
    text-align: center;
    z-index: 10;  
}

.slider-indicator label {
    display: inline-block;
    width: 4px;
    height: 4px;
    cursor: pointer;
    margin: 0 3px;
    vertical-align: top;
    border: 3px solid white;
    border-radius: 50%;
    background: #ffffff;
}

.slide-text {
    padding: 30px 0;
    width: 500px;
}

.slide-slogan {
    margin:0;
    font-weight: 500;
}

.slider-text p {
    line-height: 22px;
}

.slider .btn {
    background-color: #fb565a;
    width: 200px;
}

.slider .btn:hover {
    background-color: #d6494d;
}

.slider .btn:focus{
    background-color: #b63538;
}
.slide-content:nth-child(1) {
    background-image: url("../img/slider-1.png");

}

.slide-content:nth-child(2) {
    background-image: url("../img/slider-2.png");
}
    
.slide-content:nth-child(3) {
    background-image:  url("../img/slider-3.png");    
}

#btn-1:checked ~ .slides .slide-content:nth-child(1) {
    display: block;
}
#btn-2:checked ~ .slides .slide-content:nth-child(2) {
    display: block;
}
#btn-3:checked ~ .slides .slide-content:nth-child(3) {
    display: block;
}
#btn-1:checked ~ .slider-indicator label[for="btn-1"] {
    background-color: #c1c1c1;
}
#btn-2:checked ~ .slider-indicator label[for="btn-2"] {
    background-color: #c1c1c1;
}
#btn-3:checked ~ .slider-indicator label[for="btn-3"] {
    background-color: #c1c1c1;
}
 

/*main page*/

.main-content {
    background-color: #ffffff;
    padding-bottom: 85px;
}
.services-block {
    border-bottom: 2px solid #eeeeee;
    padding-top: 80px;
    padding-bottom: 80px;
}

.service-column {
    float: left;
    width: 240px;
    min-height: 300px;
    margin-right: 80px;    
}

.service-image {
    width: 240px;
    height: 124px;
    overflow: hidden;
}

.service-image img {
  max-width: 100%;
}

.service-column:nth-child(3) {
    margin-right: 0px;
}

.service-title {
    font-size: 18px;
    line-height: 30px;
    margin-top:24px;
    margin-bottom: 10px;
}
.service-column p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 26px;
}

.service-column .btn{
    font-size: 12px;
    font-weight: 300;
    padding: 12px 38px;
    color: #fed9da;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    display: inline-block;
}

a.order-1 {
    background-color: #fb565a;

}  

a.order-1:hover {
    background-color: #d6494d;
}

a.order-1:focus{
    background-color: #b63538;
}

a.order-2 {
    background-color: #00ca74;

}  

a.order-2:hover {
    background-color: #01a25e;
}

a.order-2:focus{
    background-color: #009053;
}
a.order-3 {
    background-color: #efc84a;

}  

a.order-3:hover {
    background-color: #d6ae2c;
}

a.order-3:focus{
    background-color: #c09b24;
}

.company-description {
    border-bottom: 2px solid #eeeeee;
    padding-top: 58px;
    padding-bottom: 46px;
}

.column-left{ 
    float: left;
    width: 580px;
    min-height: 350px;
}

.principals h2 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.principals p {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 40px;

}
.company-description  h3 {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.company-description  ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.company-description li {
    position:relative;
    margin-bottom: 25px;
    padding-left: 37px;
}

.company-description li:before {
    content:'';
    position: absolute;
    width:25px;
    height: 2px;
    background-color: #fb565a;
    top:50%;
    left:0;
}

.column-right {
    float: right;
    width: 240px;
}

.main-content-logo {
    text-align: center; 
    min-height: 137px;
    margin-bottom: 40px;  
}

.logo-caption {
    position: relative;
    padding-top: 25px;
    text-align: center;
}

.caption {
    position: relative;
    z-index: 10;
    background: white;
    padding: 0 13px;
}

.logo-caption:after {
    position: absolute;
    content: "";
    top: 35px;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 2px;
    background: #eeeeee;
}

.partner-block {
    display: table;
    width: 100%;
    border-bottom: 2px solid #eeeeee;  
}

.partner-logo {
    display: table-cell;
    text-align: center;
    line-height: 165px;
}

.partner-logo img {
    vertical-align: middle;
}

.partner-block a{
    opacity: 0.2;
}

.partner-block a:hover{
    opacity: 1;
}
.partner-block a:focus{
    opacity: 1;
}

/*contacts block*/

.contacts-block {
    height: 416px;
    width: 100%;
}

.contacts-block .container {
    position: relative;  
    z-index: 1;      
}

 .contact-card {
    position: absolute;
    width: 204px;
    left: 10px;
    top: 88px;
    padding: 25px 23px;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
    background-color: #ffffff;
    z-index: 10;
}
 
.contact-header {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 30px;
    color: #6b6b6b;
}

.adress {
    margin-top: 15px;
    margin-bottom: 20px;
}

.phone {
    display: block;
    margin-bottom: 25px;

}
.contact-us {
    line-height: 18px;
    display: block;
    background-color: #fb565a;
}

.contact-us:hover {
    background-color: #d6494d;
}

.contact-us:focus{
    background-color: #b63538;
}


/*footer*/

.main-footer {
    padding-top: 76px;
    padding-bottom: 76px;
}
.footer-social {
    float: left;
    width: 240px;
}

.footer-social ul {
    margin: 0;
    padding: 0;
    font-size: 0;
    list-style: none;
}

 .footer-social li {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
    line-height: 62px;
    font-size: 20px;
}

 .footer-social li:last-child {
    margin-right: 0;
 }

.social-btn {
    display: block;
    width: 62px;
    height: 62px;
    background-color: #e1e1e1;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.social-btn:hover {
    background-color: #fb565a;
}

.social-btn:active{
    background-color: #d6494d;    
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}

.footer-social-slogan {
    float: right;
    width: 560px;
}

.footer-social-slogan h2 {
    margin: 0px;
    margin-bottom: 7px;
}
.footer-social-slogan p {
    margin: 0px;
}


/*CATALOG-page styles*/

.main-page-title{
    background-color: #eeeeee;
    padding-top: 65px;
    min-height: 175px;
}

.big-heading {
    margin:0;
    padding:0;
    font-weight: 500;
    font-size: 40px;
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
    line-height: normal;
}

.container-catalog {
    width: 880px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 75px;
    padding-bottom: 80px;
}

.filter-block {
    width: 240px;
    float: left;
}
.filter-block h2 {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.range-filter {
    margin-bottom: 53px;
}
.range-controls {
    position: relative;
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    background: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    cursor: pointer;
    border: 8px solid #fff;
    border-radius: 50%;
    background: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
    left: 50px;
}

.range-controls .toggle-max {
    left: 110px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    font-size: 16px;
    display: inline-block;
    width: 50%;
}

.max-price {
    text-align: right;
}

.price-controls input {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    width: 60px;
    margin-left: 10px;
    padding: 8px 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #f1f1f1;
}

.grid-filter {
    margin-bottom: 35px;
}
.grid-filter input[type='radio'] {
    display: none;
}

input[type='radio'] + label {  /*Состояние для радиобаттон блокированный*/
    display: inline-block;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 14px;
    cursor: pointer;
}

input[type='radio'] + label:before {
    font-family: 'symbols-nerds';
    content: '\25cb';
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    margin-right: 10px;
    color: #c1c1c1;
}

input[type='radio']:checked + label:before {
    content: '\25cf';
    display: inline-block;
    vertical-align: top;
    font-size: 25px;   
    color: #b5b5b5;
}

.catalog-block {
    width: 560px;
    float: right;
}

.features-filter {
    margin-bottom: 37px;
}

.features-filter input[type='checkbox'] {
    display: none;
}

input[type='checkbox'] + label {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    font-size: 16px;
    vertical-align: top;
    margin-bottom: 17px;
    cursor: pointer;
}

input[type='checkbox'] + label:before {
    font-family: 'symbols-nerds';
    content: '\2610';
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    margin-right: 10px;
    color: #c1c1c1;
}

input[type='checkbox']:checked + label:before {          /*чекбокс сдвигается*/  
    content: '\2611';
    display: inline-block;
    vertical-align: top;
    font-size: 25px;   
    color: #b5b5b5;
    margin-right: 6px;
}

.filter-block .btn {
    display: inline-block;
    width: 154px;
    vertical-align: top;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    background-color: #f1f1f1;
    border: none;
    outline: none;
    cursor: pointer;
}

.filter-block .btn:hover{
    background-color: #e5e5e5;
}
.filter-block .btn:active{
    background-color: #d5d5d5;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}


/*catalog-block*/

.sorter-panel {
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.sorter-panel ul {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    font-size: 0;
    list-style: none;
}

.sort {
    padding-right: 40px;
}

.sorter-panel  li {
    display: inline-block;
    font-size: 12px;
    padding-right: 45px;
    line-height: 18px;
    vertical-align: top;
}

.sorter-panel a {
    display: block;
    text-decoration: none;
    color: #cacaca;
    border-bottom: 1px dotted #00ca74;
}

.sorter-indicator {
    float: right;
    width: 10px;
    margin-right: 15px;
}

.sorter-indicator:before {
    content:'\25bc';
    color: #00ca74;
    margin-right: 2px;
}

.sorter-indicator:after {
    content:'\25b2';
    color: #c1c1c1;
    text-align: right;
}

/*catalog-items block*/

.catalog-items {
    font-size: 0;
}
.layout-item {
    position: relative;
    display: inline-block;
    border-radius: 3px;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.layout-item:hover .top-strip {
   opacity: 0.5;
}

.layout-item:nth-child(2n) {
    margin-right: 0;
}

.top-strip {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border-radius: 5px 5px 0 0;
    text-align: left;
    font-size: 0;
    background-color: #000000;
    opacity: 0.1;
}

.top-strip-dot {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #ffffff;
    margin-right: 8px;
}

.layout-image{
    overflow: hidden;
}

.layout-image img {
    width: 240px;
    height: 240px;
}

.hidden {
    position: absolute;
    top: 50px;
    left: 20px; 
    width: 180px;
    padding-right: 10px;
    padding-left: 10px;
    min-height: 200px;
    margin: 0 auto; 
    background-color: #ffffff;
    display: none;
}

.layout-item:hover .hidden{
   display: block;
}

.layout-price-title {
   display: block;
   width: 160px;
   margin: 0 auto;
   padding-top: 31px;
   padding-bottom: 0; 
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   font-family: "Roboto Medium", Arial, sans-serif;
   color: #000000;
   text-transform: uppercase;
}

.layout-price p{
    width: 160px;
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 29px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    font-family: "Roboto Medium", Arial, sans-serif;
    text-align: center;
    color: #283136;
}

 .layout-price .price{
    display: inline-block;
    width: 140px;
    height: 38px;
    padding:0;
    vertical-align: middle;
    font-weight: 500;
    font-size: 18px;
    line-height: 38px;
    font-family: "Roboto Medium", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
}

.layout-price .price:hover {
    background-color: #d6494d;
}

.layout-price .price:active{
    background-color: #b63538;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
}





 /*pagination*/
 .pages {
   padding:0;
   margin:0; 
   font-size: 0;
   list-style: none;
 }

 .page {
   display: inline-block;
   margin-right: 10px;
   padding: 10px 15px; 
   font-weight: 500;
   font-size: 12px;
   line-height: 18px;
   font-family: "Roboto Medium", Arial, sans-serif;
   vertical-align: top;
   color: #000000;
   text-transform: uppercase;
   text-decoration: none; 
   background-color: #f1f1f1;
   border-radius: 5px;
 }
 
 .page.next {
   padding: 10px 30px;
 }
 
 .page:hover {
   background-color: #e5e5e5;
 }
 
 .page:active {
   background-color: #d5d5d5;
   box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
 }
 
 .page.active,
 .page.active:hover,
 .page.active:active {
   padding: 8px 13px; 
   background-color: #ffffff;
   border: 2px solid #f1f1f1;
   opacity: 0.9; 
 }